<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="index.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/d6ce44b3a9.js" crossorigin="anonymous"></script>
    <style>
        .form-control {
            border-color: #adb5bd !important;
        }
    </style>
</head>
<body>

<div layout:fragment="wrapper">
    <div class="container-md">
        <h3>Déposer votre annonce</h3>
        <div th:if="${addCategorySuccess != null && addCategorySuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
            La catégorie a été ajoutée avec succès !
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <form method="post" th:action="@{/createAdvertisement}" th:object="${advertisement}">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="mt-3">
                                <label for="title" class="form-label">Titre de l'annonce</label>
                                <input type="text" class="form-control" id="title" th:field="*{title}">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="mt-3">
                                <label for="location" class="form-label">Localisation</label>
                                <input type="text" class="form-control" id="location" th:field="*{location}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="mt-3">
                                <label for="categories" class="form-label">Catégories</label>
                                <!-- Button trigger modal -->
                                <span>  Ou </span>
                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                  Créer une nouvelle catégorie
                                </button>

                                <select id="categories"  class="form-control" th:field="*{category.id}" >
                                    <option value="0">Choisissez</option>
                                    <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.label}"></option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="mt-3">
                                <label for="state" class="form-label">État</label>
                                <select id="state"  class="form-control" th:field="*{objectState}" >
                                    <option value="">Choisissez</option>
                                    <option value="État neuf">État neuf</option>
                                    <option value="Très bon état">Très bon état</option>
                                    <option value="Bon état">Bon état</option>
                                    <option value="État satisfaisant">État satisfaisant</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div id="keywords">
                                <label>Mots-clés</label>
                                <input class="form-control" type="text" th:field="*{keywords}" placeholder="Mots clés">
                                <div id="keywordsHelp" class="form-text text-danger">Veuillez saisir les mots-clés séparés par une virgule!</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="delivery" class="form-label">Type de livraison</label>
                            <select id="delivery"  class="form-control" th:field="*{deliveryOption}" >
                                <option value="">Choisissez</option>
                                <option value="Livraison à domicile">Livraison à domicile</option>
                                <option value="En main propre">En main propre</option>
                            </select>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-3">
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a type="button" class="btn btn-outline-info" th:href="@{/}">Retour</a>
                        <button type="submit" class="btn btn-outline-primary">Déposer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter une nouvelle catégorie</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/categories}" th:object="${newCategory}" id="categoryForm">
                        <div >
                            <label for="label">Label</label>
                            <input id="label" class="form-control" type="text" th:field="*{label}">
                        </div>
                        <div class="mt-3">
                            <div class="mb-3">
                                <label for="categoryDesc" class="form-label">Description</label>
                                <textarea class="form-control" id="categoryDesc" rows="3" th:field="*{description}"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p th:text="${#strings.isEmpty(newCategory.label)}"></p>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" id="submitBtn" class="btn btn-outline-success">Créer</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>