<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="index.html"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/d6ce44b3a9.js" crossorigin="anonymous"></script>
    <style>
        .custom-border {
            border: 2px dashed #DDD;
        }
    </style>
</head>
<body>
<div layout:fragment="wrapper">
    <div class="alert danger" role="alert">
    Vous n'avez pas le droit de faire cette action ! <a th:href="@{/}" class="alert-link">401 Unauthorized!</a>.
    </div>
</div>
</div>
</body>
</html>