<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="index.html"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="wrapper">
    <p class="text-danger border-2">Hello World</p>
</div>
</body>
</html>